{% extends "base.html" %}

{% block content %}
    <div class="row">
      <div class="col-md-12">
            <br>
            <h3 class="text-uppercase" align="center">EDIT YOUR ITEM</h3>
        </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <form method="post">
          <div class="form-group">
          <label>Name</label>
          <input name="name" class="form-control" placeholder="Name" value="{{item.name}}">
          </div>
          <div class="form-group">
          <label>Price</label>
          <input name="price" class="form-control" placeholder="Price" value="{{item.price}}">
          </div>
          <div class="form-group">
          <label>Course</label>
          <input name="course" class="form-control" placeholder="Course" value="{{item.course}}">
          </div>

          <div class="form-group">
          <label>Description</label>
          <textarea name="description" class="form-control"  placeholder="description" rows="10">{{item.description}}</textarea>
          <br>
          <label class="error">{{error}}</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <a href="{{ url_for('Items',restaurant_id=restaurant_id)}} "><button  type="button" class="btn btn-primary btn-default">Cancel</button></a>
        </form>
        <br>
      </div>
    </div>
{% endblock %}